//@import "./reset.less";

//@app_height: 768;
//@app_width: 1024;

body {
	//min-height: 100vh;
	min-width: 100%;
}

html {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.x() {
		body
		, #app[data-mode="server"] .anim
		, #app[data-mode="server"] .anim img {
			width: 100%;
		}
	}
	&:-moz-full-screen {
		.x();
	}
	&:-webkit-full-screen {
		.x();
	}
	&:-ms-fullscreen {
		.x();
	}
	&:fullscreen {
		.x();
	}
	/*&:fullscreen, &:-webkit-full-screen, &:-moz-full-screen, &:-ms-fullscreen {

	}*/

	&[data-mode="client"] {
		background: #000;
		color: #fff;
	}
}

.debug {
	font-size: 15px;
	line-height: 1;
	position: absolute;
	right: 20px;
	top: 0;
}

.WHENserver(@rules) {
	#app[data-mode="server"] & {
		@rules();
	}
}
.WHENclient(@rules) {
	#app[data-mode="client"] & {
		@rules();
	}
}
.WHENconnectedClient(@rules) {
	//#app[data-mode="server"] &,
	#app[data-mode="client"][data-client-connected="true"] & {
		@rules();
	}
}
.WHENconnectedClientOnlyOrOnlyOffline(@rules) {
	//#app[data-mode="server"] &,
	#app[data-mode="client"][data-client-connected="true"] &,
	#app[data-mode][data-onlyp2p="false"] {
		@rules();
	}
}
.WHENnotConnectedClient(@rules) {
	#app[data-mode="server"],
	#app[data-mode="client"]:not([data-client-connected="true"]) {
		@rules();
	}
}
.WHENneitherConnectedClientNorOnlyOffline(@rules) {
	#app[data-mode="server"][data-onlyp2p="true"],
	#app[data-mode="client"][data-onlyp2p="true"]:not([data-client-connected="true"]) {
		@rules();
	}
}
.WHENdisconnectedClient(@rules) {
	//#app[data-mode="server"] &,
	#app[data-mode="client"]:not([data-client-connected="true"]) & {
		@rules();
	}
}
.WHENnotDisconnectedClient(@rules) {
	#app[data-mode="server"],
	#app[data-mode="client"][data-client-connected="true"] {
		@rules();
	}
}
.WITH_P2P(@rules) {
	#app[data-mode][data-onlyp2p="true"] & {
		@rules();
	}
}
.WITHOUT_P2P(@rules) {
	#app[data-mode][data-onlyp2p="false"] & {
		@rules();
	}
}
.ONLYVISIBLEFORonlyOnline {
	#app[data-mode]:not([data-onlyp2p="true"]) & {
		display: none;
	}
}
.ONLYVISIBLEFORonlyOffline {
	#app[data-mode]:not([data-onlyp2p="false"]) & {
		display: none;
	}
}

.sessions {
	margin: 0 auto; // надо, если app_width меньше 320
}
/*.sessions, .session, .anim, .anim1 img {
	height: @app_height;
	width: @app_width;
}*/
.sessions, .session, .anim {
	width: 100%;
	height: 100%;
}
.anim1 {
	// display: flex;
	// justify-content: center;
	// align-items: center;
}
.anim1 img {
	top: 50%;
}
.anim1 img {
	//margin: 0 auto;
	right: 0;
}

#app {
	font-size: 0;
	line-height: 0;
	//width: 100% !important;
}
	.settings {
		font-size: 14px;
		line-height: 1.2;
	}
	.WITHOUT_P2P({
		.settings {
			display: none;
		}
	});

	//&[data-mode="server"], &[data-mode="client"]:not([data-client-connected="true"]) {
	.WHENnotConnectedClient({
		//width: unit(max(320, @app_width), px);
		min-width: 220px;
		//max-width: @app_width;
		width: 100%;
		.anim2, .anim3, .anim4 {
			display: none;
		}
	});
	/*.WITHOUT_P2P({
		height: calc(100% - 20px);
		margin: 10px auto;
		padding: 0;
	});*/
	.WHENnotDisconnectedClient({
		.sessionListWrapper { display: none }
	});
	.WHENdisconnectedClient({
		input[name="sessionId"] { display: none }
		.sessionListWrapper {
			display: inline-block;
			margin-left: 15px;
		}
		.sessionList {
			margin-top: 8px;
		}
		.anim {
			height: 1px !important;
			margin: -1px 0 0 -1px !important;
			overflow: hidden !important;
			width: 1px !important;
		}
	});

	input[name="sessionId"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid #bbb;
		font-size: 18px;
		margin-left: 4px;
		padding: 1px 4px;
		width: 64px; // 5 digits => 64px, 7 digits => 85px
	}


	.anim {
		margin-top: 13px;
		position: relative;
		.WITHOUT_P2P({
			margin-top: 0;
		});
	}
	.anim, .anim__img {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
		.anim__img   /*.anim-hidden, .anim-active*/ {
			left: 0;
			//display: none;
			opacity: 0.0;
			position: absolute;
			top: 0;
			//visibility: hidden;
			//will-change: visibility;
			//z-index: 0;
		}
		.anim__img_hidden {
			//display: none;
			//visibility: hidden;
		}
		.anim__img_active {
			//display: block;
			//visibility: visible;
			opacity: 1.0;
			//z-index: 1;
		}


	/*&[data-mode="client"] {
		background: #000;
		color: #fff;
	}*/
	.wait_for_user_input, .wait_while_loading {
		background: #a6a6a6;
		color: #fff;
		cursor: pointer;
		font-size: 31px;
		//line-height: unit(@app_height, px);
		line-height: 41px;
		position: absolute;
		text-align: center;
		height: 100%;
		width: 100%;//unit(max(320, @app_width), px);
		z-index: 2;

		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;

		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.WHENconnectedClientOnlyOrOnlyOffline({
	});
	.WHENneitherConnectedClientNorOnlyOffline({
		.wait_for_user_input {
			display: none;
		}
	});
	.WHENconnectedClient({
		//height: 100%;
		position: absolute;
		//width: 100% !important;

		.settings {
			display: none;
		}

		.anim {
			margin: 0;
			position: absolute;

			img {
				//height: 100%;
				//width: 100%;
			}
		}

		.anim2 {
			img { transform: rotate(90deg); }
		}
		.anim3 {
			img { transform: rotate(180deg); }
		}
		.anim4 {
			img { transform: rotate(270deg); }
		}
		.anim {
			img {
				width: 100%;
			}
		}
		/*.anim1, .anim3 {
			width: 341px;
			img {
				width: 100%;
			}
		}
		.anim2, .anim4 {
			width: 256px;
			img {
				//height: 100%;
				width: 100%;
			}
		}*/
	});

