// https://github.com/tachyons-css/tachyons-box-sizing/blob/master/css/tachyons-box-sizing.css
html, body, div, article, aside, section, main, nav, footer, header, form,
fieldset, legend, pre, code, p, a, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt,
dd, blockquote, figcaption, figure, textarea, input[type="email"],
input[type="number"], input[type="password"], input[type="tel"],
input[type="text"], input[type="url"] {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
html,body,div,span,applet,object,iframe,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
fieldset,form,label,legend,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	margin: 0;
	padding: 0;
}
aside,nav,footer,header,section,article,hgroup,div,address,form {
	display: block;
}
div{vertical-align: top}
div,applet,object,iframe,
blockquote,
abbr,acronym,address,code,
img,kbd,samp,tt,var,fieldset,form,
label,legend,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	color: #000;
	font-family: Arial, Tahoma;
	font-size: 100.01%;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

//html,body{min-height: 100vh;}
body {
	line-height: 1;
	//height: 100vh;
}
html,body{height: 100%;font-size: 0 !important; line-height: 0 !important; }
//#app {width:inherit;height: inherit;}
#app {
	height: 100%;
}
body, #app {
	&::before {
		clear:both;
		content:'';
		display: block;
		height: 1px;
		overflow: hidden;
		margin-top: -1px;
	}
}
.WITHOUT_P2P(@rules) {
	#app[data-mode][data-onlyp2p="false"] & {
		@rules();
	}
}
.WHENnotConnectedClient(@rules) {
	#app[data-mode="server"],
	#app[data-mode="client"]:not([data-client-connected="true"]) {
		@rules();
	}
}
.WHENnotConnectedClient({
	.sessions {
		margin: 20px 0;
	}
});
.WITHOUT_P2P({
	.sessions {
		height: calc(100% - 12px);
		margin: 6px auto;
		padding: 0;
		@media (max-height: 500px) {
			height: calc(100% - 6px);
			margin: 3px auto;
		}
	}
});
a:hover{text-decoration: none}
blockquote,q{quotes: none}
blockquote:before,blockquote:after,q:before,q:after{content: "";content: none}
table{border-collapse: collapse;border-spacing: 0}
img{border: 0}
img,.ofhidden{overflow: hidden}
:focus{outline: 0}
/*table,
.nop, .nop tr, .nop td,
.footer > table, .footer tr, .footer td {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}*/

/*.middle{vertical-align: middle !important}
.bottom{vertical-align: bottom !important}
.l0t0{left: 0;top: 0}
.nopadding{padding: 0 !important}
.h100{height: 100%}
.w100{width: 100%}
.block{display: block !important}
.inline{display: inline !important}
.inline-block{display: inline-block !important}
.table-cell{display: table-cell !important}
.none{display: none !important}
.abs{position: absolute}
.floatleft{float: left}
.floatright{float: right}
.alignleft{text-align: left}
.aligncenter{text-align: center}
.alignright{text-align: right}
.nowrap{white-space: nowrap}
.italic{font-style: italic}
.lh0{line-height: 0 !important}
.hideborder{border-color: transparent !important}
.fromnone {
	height: 0 !important;
	overflow: hidden !important;
	opacity: 0 !important;
	width: 0 !important;
}


.absi > div, .absi > img, .absi > a, .absi > table {
	position: absolute;
}
	.absi > a {
		display: inline-block;
	}
		.absi > a img {
			display: inline-block;
		}*/