<!DOCTYPE html>
<html class="js-not-loaded">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale = 1, maximum-scale = 1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>..</title>
	<style>
		<% if (requestFullscreen !== false) { %>
		@media (min-width: 1025px) {
			#app[data-mode][data-onlyp2p="false"] .wait_for_user_input {
				display: none !important;
			}
		}
		.wait_for_user_input{font-size:0}
		<% } %>
		html.js-not-loaded{opacity:0.0;}
	</style>
</head>
<body>
<main id="app" style="display: none" data-mode="server" data-onlyp2p="<%= onlyp2p %>">
	<% if (debug) { %>
	<div class="debug"></div>
	<% } %>
	<% if (onlyp2p) { %>
	<div class="settings">
		<label><input type="radio" name="role" value="server" checked>Управление</label>
		<label><input type="radio" name="role" value="client">Голограмма</label>
		<input type="text" name="sessionId" readonly>
		<div class="sessionListWrapper">Доступные сессии:
			<div class="sessionList"></div>
		</div>
	</div>
	<% } %>
	<% if (requestFullscreen !== false) { %>
	<div class="wait_for_user_input">
		<% if (onlyp2p) { %>
		<span class="ONLYVISIBLEFORonlyOnline">Кликните, дабы подключиться.</span>
		<% } %>
		<span class="ONLYVISIBLEFORonlyOffline">Кликните, дабы начать.</span>
	</div>
	<% } %>
	<div class="wait_while_loading">
		<span>
			Загрузка<span class="wait_while_loading__progress"></span>
		</span>
	</div>
	<%# <div class="anim anim1" style="position: absolute;"><!-- this div should removed by js -->
	</div> %>
	<div class="sessions"></div>
</main>
<script src="<%= bundle %>"></script>
<script>
document.querySelector('html').classList.remove('js-not-loaded')
;(function () {//async () => {
	const m = new VDH()
	/*await */m.init(
		document.querySelector('#app'),
		<%#{
			 /*looped: false,
			requestFullscreen: false,
			autoSelfResize: false,
			images: [
			]*/ 
			...%><%- JSON.stringify(config) %>
		<%#}%>
	);
	//await m.setImages([]);
})()/*.catch(err => {
	console.error(err)
});*/
</script>
</body>
</html>
